body{
    background-color: #121213;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0%;
    padding:0%
}
.titulo-principal {
  text-align: center;
  font-size: 2.2rem;
  margin: 2rem 0;
}
/* Grid principal */
.grid-sobremi {
  display: grid;
  grid-template-columns: repeat(8, minmax(200px, 3fr));
  grid-template-rows: repeat(3, minmax(200px, 1.4rem));
  gap: 2rem;
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}
/* Card de cada servicio */
.card-1{
  background-color: #1f1f1f;
  padding: 1.5rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px #0004;
  transition: transform 0.3s ease;
  grid-column: 1/3;
  grid-row: 1/1;
}

.card-1:hover {
  transform: scale(1.05);
}
.card-2 p{
    margin-top: auto;
    font-size: 1.4rem;
    color: #fff;

}
.card-3 h3{
    margin-top: auto;
    font-size: 1.4rem;
    color: aqua;
}
.card-2{
    background-color: #1f1f1f;
    padding: 1.5rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px #121213;
    transition: transform 0.3s ease;
    grid-column: 4/6;
    grid-row: 1/3;
}
.card-2:hover {
  transform: scale(1.05);
}
.card-3{
    background-color: #1f1f1f;
    padding: 1.5rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px #1f1f1f;
    transform: 0.5s ease;
    grid-column: 3/4;
    grid-row: 2/2;

}
.card-3:hover {
  transform: scale(1.05);
}