body{
 height: 700px;
 background-image: linear-gradient(oklab(21.755% -0.0129 -0.09678) 11%,rgb(243, 243, 240));  
 background-repeat: no-repeat;
 background-size: cover;
}

h1{
    text-align: center;
    font-size: 2.2rem;
    margin: 2rem 0; 
    text-decoration: none;
}
    

.nav-menu ul{ 
    display: flex;
  gap: 2rem;
  padding: 2rem 3rem; border-radius: 50px;
  list-style: none;
  
  justify-content: center;
  background-color: rgb(128, 128, 128, 0.6); 
  margin: 0;
  font-size: 1.1rem;
  font-weight: 500;
   

}
.nav-menu li {
    
    margin: .5rem;
    border-radius: 1rem;
    background-image:linear-gradient(rgb(117, 6, 6) , rgb(20, 20, 19) );
    padding: .1rem;
   
}
.nav-menu li :hover{
    background-color: RED;
    margin:2rem;
   
    padding: 1rem;  }

.cajas{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax: 200px, 1fr);

    grid-auto-flow: column
}

.cajas {
    
}